@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary: #00b3a4;
  --secondary: #272727;
  --third: #5b5b5b;
}

body{
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}

* {
  color: white;
  margin: 0;
}

p{
  margin: 20px 0;
}

button{
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

header nav{
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: #2b2b2b; */
  padding: 1% 0;
}

header nav h1 {
  margin-right: auto;
  font-weight: 900;
  border-bottom: 3px solid var(--primary);
}

header nav a{
  text-decoration: none;
  padding: 8px 6px;
  border-radius: 4px;
}

header nav a.active{
  background: var(--primary);
}

main{
  max-width: 1200px;
  margin: 40px auto;
  /* background-color: aqua; */
}

/* help */
.help-layout nav{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}

.help-layout a{
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}

.help-layout nav a:hover{
  background-color: var(--primary);
}

.help-layout nav a.active{
  background: var(--primary);
}

/* faq */
.faq{
  margin-top: 50px;
}

.faq .question{
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* contact */
.contact{
  margin-top: 50px;
}

.article{
  margin-bottom: 20px;
}

.list-article{
  font-weight: 300;
}

.theImage{
  text-align: center;
}

.article-image{
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}

.article-time{
  color: #b4b4b4;
}

.section-title{
  margin-bottom: 50px;
}

/* landing page */
.landing-page{
  text-align: center;
  margin-top: 250px;
}

.svg-icon {
  /* position: absolute; */
  width: 30%;
  height: 30%;
  /* top: 10%; */
  /* left: 10%; */
  z-index: -1;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--primary)
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.headers{
  position: relative;
  z-index: 1;
}

.stars{
  position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: -26vw 13vh 2px 2px #fff,-32vw 3vh 1px 2px #fff,-31vw 9vh 3px 3px #fff,-10vw -22vh 0px 3px #fff,25vw -40vh 2px 2px #fff,-37vw 12vh 3px 1px #fff,28vw -9vh 1px 0px #fff,18vw 6vh 0px 0px #fff,-39vw 31vh 2px 0px #fff,43vw 50vh 2px 0px #fff,-25vw -29vh 2px 3px #fff,22vw 32vh 0px 2px #fff,16vw -26vh 3px 0px #fff,-37vw 1vh 0px 1px #fff,-43vw 18vh 0px 3px #fff,-5vw -1vh 0px 2px #fff,-8vw -4vh 2px 0px #fff,12vw -47vh 0px 2px #fff,33vw 13vh 0px 2px #fff,-21vw -11vh 1px 3px #fff,46vw -46vh 3px 3px #fff,26vw -50vh 1px 0px #fff,-42vw -49vh 2px 2px #fff,-47vw 9vh 2px 0px #fff,41vw 50vh 0px 2px #fff,23vw 7vh 2px 0px #fff,-15vw -3vh 2px 3px #fff,3vw -40vh 2px 1px #fff,45vw 33vh 3px 1px #fff,-24vw -7vh 2px 3px #fff,14vw -17vh 3px 0px #fff,1vw 10vh 2px 0px #fff,-24vw 28vh 3px 3px #fff,40vw 44vh 2px 1px #fff,4vw -14vh 2px 2px #fff,-31vw 46vh 2px 3px #fff,-6vw -33vh 2px 2px #fff,44vw -3vh 2px 0px #fff,-37vw 24vh 2px 3px #fff,-30vw -43vh 2px 1px #fff,38vw -7vh 1px 0px #fff,-25vw -15vh 3px 3px #fff,-29vw -29vh 3px 0px #fff,15vw 36vh 2px 3px #fff,-6vw -17vh 3px 2px #fff,-47vw -4vh 1px 0px #fff,32vw -9vh 1px 1px #fff,26vw 47vh 2px 2px #fff,-8vw -8vh 0px 1px #fff,-49vw -43vh 2px 2px #fff,-29vw 25vh 3px 0px #fff,-5vw -19vh 2px 3px #fff,0vw 37vh 2px 3px #fff,-48vw 32vh 1px 0px #fff,33vw 38vh 3px 0px #fff,50vw 44vh 0px 1px #fff,-42vw 16vh 1px 1px #fff,48vw -23vh 2px 1px #fff,34vw -43vh 0px 3px #fff,33vw 31vh 0px 2px #fff,48vw 7vh 3px 2px #fff,-46vw -35vh 2px 2px #fff,35vw -36vh 3px 1px #fff,-41vw 20vh 2px 2px #fff,-7vw 11vh 1px 2px #fff,-39vw 41vh 2px 2px #fff,44vw -23vh 1px 3px #fff,25vw -8vh 2px 2px #fff,48vw 45vh 2px 3px #fff,44vw 42vh 1px 1px #fff,17vw -14vh 3px 1px #fff,12vw -17vh 2px 1px #fff,11vw 41vh 1px 3px #fff,-12vw 22vh 3px 2px #fff,-23vw -5vh 3px 1px #fff,2vw 13vh 1px 1px #fff,36vw -35vh 1px 2px #fff,-7vw -21vh 3px 1px #fff,5vw 25vh 3px 2px #fff,-33vw -48vh 1px 1px #fff,-34vw 37vh 0px 1px #fff,12vw -34vh 2px 3px #fff,-6vw -48vh 2px 2px #fff,44vw -43vh 3px 2px #fff,-27vw -26vh 3px 2px #fff,-23vw -23vh 3px 1px #fff,34vw 7vh 0px 0px #fff,3vw -20vh 3px 3px #fff,-12vw -19vh 2px 2px #fff,-16vw -23vh 0px 0px #fff,-23vw 41vh 3px 3px #fff,-21vw 12vh 0px 2px #fff,30vw 45vh 0px 1px #fff,-22vw 21vh 3px 3px #fff,-17vw -26vh 3px 2px #fff,-27vw -30vh 3px 0px #fff,47vw 31vh 0px 1px #fff,19vw 39vh 3px 1px #fff,45vw 23vh 1px 3px #fff,6vw 49vh 0px 3px #fff;
    animation: zoom 50s alternate infinite;
}

@keyframes zoom {
  0%{
      transform: scale(1);
  }
  50%{
      transform: scale(2);
  }
}